/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-image: url(img/excluido.png);
    height: 1000px;
}

img {
    display: block;
    max-width: 100%;
}

.main-section {
    margin-top: 50px;
    display: flex;
}

.container {
    position: relative;
}

.container img {
    object-fit: cover;
    height: 100%;
}

.primeira-parte {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.primeira-parte h1 {
    font-size: 28px;
    font-family: 'Nosifer', cursive;
    color: rgb(190, 7, 7);
    max-width: 500px;
}

.primeira-parte a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    background-color: rgb(190, 7, 7);
    color: rgb(243, 209, 209);
}

@media(max-width: 900px) {
    .primeira-parte h1 {
        font-size: 20px;
    }
}

@media(max-width: 650px) {
    .main-section {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
    }
}