.sobre-bg {
    background-color: var(--cor-bg);
    padding-top: 100px;
    padding-bottom: 180px;
    position: relative;
}

.sobre-bg::before {
    content: "";
    display: block;
    height: 76px;
    width: 66px;
    top: -41px;
    left: 200px;
    position: absolute;
    background: url("../../img/icones/detalhe-sobre.svg") no-repeat;
}

.sobre h2 {
    margin-bottom: 100px;
}


.faq {
    padding: 20px 20px 20px 40px;
    margin-bottom: 32px;
    border-radius: 4px;
    border: 1px solid #242424;
}

.faq dt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
}


.faq dt::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    left: -5px;
    background-color: var(--cor-decorativa);
    position: absolute;
}

.faq dd {
    padding-top: 15px;
    padding-left: 20px;
}

.faq:nth-child(odd) {
    background-color: var(--cor-lista);
}

@media (max-width: 800px) {
    .sobre h2 {
        margin-bottom: 40px;
    }
    .sobre-bg {
        padding-bottom: 60px;
        padding-top: 40px;
    }
    .faq dt {
        font-size: 1.125rem;
    }
}

[data-accordion="list"] dt::after, [data-accordion="list"] dt.ativo::after {
    content: '';
    display: block;
    width: 15px;
    height: 25px;
    right: -10px;
    position: absolute;
}

[data-accordion="list"] dt::after {
    background:url("../../img/icones/arrow-turn-up-solid.svg") no-repeat;
}

[data-accordion="list"] dt.ativo::after {
    background:url("../../img/icones/arrow-turn-down-solid.svg") no-repeat;
}


.js [data-accordion="list"] dd {
    display: none;
}

[data-accordion="list"] dd.ativo {
    display: block;
    animation: animarAccordion .5s forwards;
}

@keyframes animarAccordion {
    from {
        max-height: 0px;
        transform: translate3d(-20px, 0, 0);
        opacity: 0;
    }
    to {
        max-height: 300px;
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}